html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(233, 237, 248);
}

pre {
  margin: 0;
  padding: 1rem;
  font-family: "Droid Sans Mono", monospace;
  border-radius: 8px;
  color: rgb(233, 237, 248);
  background-color: rgb(86, 84, 98);
  overflow: auto;
}

.img-circle {
  border-radius: 50% !important;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.text-align-right {
  text-align: right;
}

.ul-style-no {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.ul-style-no li {
  margin: 0.5rem;
}

.float-right {
  display: block;
  float: right;
}

/* display */
.display-no {
  display: none;
}

.display-block {
  display: block;
}

/* Color */
.bg-purple {
  background-color: rgb(125, 102, 216);
}
.bg-white {
  background-color: rgb(233, 237, 248);
}
.bg-white-50p {
  background-color: rgba(233, 237, 248, 0.8);
}
.fg-white {
  background-color: rgb(250, 250, 250);
}
.fg-white-50p {
  background-color: rgba(250, 250, 250, 0.5);
}

.indent-1x {
  margin-left: 3rem;
}

.indent-2x {
  margin-left: 4rem;
}

.indent-3x {
  margin-left: 5rem;
}

.fl-indent-1x {
  text-indent: 2em;
}

.fl-indent-2x {
  text-indent: 4em;
}

.fl-indent-3x {
  text-indent: 6em;
}

.article-container {
}

.article-container h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.article-container h2 {
  margin-top: 2rem;
}

.article-container p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.article-container ul {
  list-style: none;
  padding-inline-start: 0;
}

.article-container ul, ol li {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px){
  .fl-indent-2x, .fl-indent-3x {
    text-indent: 2em;
  }
  .indent-1x, .indent-2x, .indent-3x {
    margin-left: 0;
  }
  .article-container p {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .article-container ul, ol li {
    font-size: 1.2rem;
  }
}
